.bodystyle {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.46;
  color: var(--text-color);
  background-color: var(--background-color);
}

.button:hover,
.button:focus,
.button:active {
  background-color: var(--button-background-color);
  cursor: pointer;
  color: var(--third-text-color);
}
.contact:hover,
.contact:focus {
  color: var(--logo-color);
}

:root {
  --text-color: #212121;
  --second-text-color: #757575;
  --button-background-color: #2196f3;
  --background-color: #e5e5e5;
  --third-text-color: #ffffff;
  --logo-color: #2196f3;
  --secondary-bacground-color: #2f303a;
}

.header-logo {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  font-family: "raleway";
}
.logo-color {
  color: var(--logo-color);
}
.header-link {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.header-contact {
  text-decoration: none;
  color: var(--second-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.secondary-background {
  background-color: var(--secondary-bacground-color);
}
.header {
  color: var(--third-text-color);
  font-size: 44px;
  line-height: 1.36;
}
.header-button {
  background-color: var(--button-background-color);
  color: var(--third-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin: 30px 700px 200px 700px;
}
.fourth-header {
  font-size: 14px;
  line-height: 1.17;
}
.description {
  font-weight: 400;
  font-size: 14px;
  color: var(--second-text-color);
  line-height: 1.71;
}
.secondary-header {
  font-size: 36px;
  line-height: 1.17;
}
.third-header {
  font-size: 16px;
  line-height: 1.17;
}
.job-role {
  font-weight: 400;
  font-size: 16px;
  color: var(--second-text-color);
  line-height: 1.17;
}
.footer-background {
  background-color: var(--secondary-bacground-color);
}
.footer-logo {
  text-decoration: none;
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 26px;
  font-family: "raleway";
  line-height: 1.17;
}
.footer-contact {
  font-style: normal;
  text-decoration: none;
  color: var(--third-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
}
.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
}
.portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--second-text-color);
}

.container {
  width: 1600px;
}
.logo-box {
  display: flex;
  flex-direction: row;
  padding-left: 215px;
  box-sizing: content-box 145px 31px;
}
.header-box {
  display: flex;
  flex-direction: row;
  box-sizing: content-box 1600px 80px;
}
.nav-box {
  display: flex;
  flex-direction: row;
  padding-left: 93px;
  box-sizing: content-box 261px 61px;
  gap: 46px;
  list-style-type: none;
}
.contact-box {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 364px;
  gap: 50px;
  list-style-type: none;
}
.nav-space {
  padding-right: 46px;
}
.contact-space {
  gap: 50px;
}

.button-box {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  box-sizing: content-box 572px 54px;
  gap: 30px;
  margin: 94px 518px 34px 510px;
}

.main-container {
  display: flex;
  box-sizing: content-box 1170px 1360px;
  margin: 174px 215px 346px 215px;
}
.img-main-box {
  display: flex;
  gap: 30px;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  padding: 34px 215px 94px 215px;
}
.footer-box {
  display: block flex;
  flex-direction: row;
  width: 1600px;
  height: 252px;
}
.logo-box-footer {
  display: flex;
  flex-direction: row;

  padding-top: 60px;
  padding-left: 215px;
}

.main-box {
  display: flex;
  box-sizing: content-box 1170px 1360px;
  flex-wrap: wrap;
}
.footer-link {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 215px;
}
.main-box-index {
  display: block flex;
  width: 1600px;
  height: 600px;
}
.main-text-index {
  box-sizing: content-box 696px 120px;
  display: block flex;
  padding: 200px 452px 30px 452px;
  text-align: center;
}
.index-description {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.description-box {
  width: 270px;
  height: 101px;
}
.sec-title {
  padding-top: 94px;
  padding-left: 624px;
}
.img-work {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-left: 215px;
  padding-top: 50px;
}
.th-title {
  padding-top: 188px;
  padding-left: 695px;
}
.workers {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-left: 215px;
  padding-top: 50px;
  padding-bottom: 94px;
  text-align: center;
}
.img-shadow {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--third-text-color);
}
.workers-text {
  text-align: center;
}
